/* Campana */
.my-btn,
.my-btn-border,
.btn-bell {
  border-radius: 100%;
  position: absolute;
  top: 100%;
  left: 900%;
  transform: translate(-50%, -50%);

}
/*CSS del número*/



.notification .badge {
  position: sticky;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background: red;
  color: white;
}


