<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="stylesheet" href="css/listapeliculas.css">
    <link rel="stylesheet" href="css/estilobuscador.css">
    <link rel="stylesheet" href="css/footerstyle.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600&display=swap"
          rel="stylesheet">
    <!-- Bootstrap CSS de notificación -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
          integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet"/>

    <title>KeVeo</title>

    <!--Favicon-->

    <link href="/img/fevicom.png">

</head>

<body>
<header>
    <div class="contenedor">
        <!-- Logotipo tipográfico su css está en estilos.css -->

        <img src="img/logo.png" width="10%" height="10%" alt="KeVeo">
        <!-- Buscador - su css está en estilobuscador.css-->

        <form class="form-wrapper cf">
            <input type="text" placeholder="Buscar película..." required>
            <button type="submit">Buscar</button>
        </form>

        <!-- Barra de Navegación su css está en estilos.css -->
        <nav>
            <a href="#" class="activo">Inicio</a>
            <a href="#">Películas</a>
            <a href="#">Plataformas</a>
            <a href="#">Géneros</a>
            <a href="#">Login</a>
            <!-- Botón de alertas -->
            <button type="button" class="btn btn-danger position-relative" id="btn-perdido" class="my-btn"
                    data-bs-toggle="modal" data-bs-target="#exampleModal">
                Alertas <span
                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary">1
				</span>
            </button>

            <!-- Modal del botón de alertas -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Star wars ha llegado para quedarse</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row g-0">
                                <div class="col-md-4 text-center">
                                    <img src="https://ep00.epimg.net/elpais/imagenes/2017/12/13/album/1513166327_044213_1513268843_album_normal.jpg"
                                         class="img-fluid rounded-start" width="200px"/>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Star Wars </h5>
                                        <p class="card-text">No te pierdas una nueva entrega de la gran saga de
                                            StarWars</p>
                                        <p class="card-text"><small class="text-muted">Añadido hace una hora</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>


            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
                    crossorigin="anonymous"></script>

            <script>

            </script>

        </nav>

    </div>
</header>

<!-- Lista de películas probando -->

<div>
    <div class="film">
        <img src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/980px/public/media/image/2020/12/exorcista-2181589.jpg?itok=1vx9vEZ4"
             alt="El Exorcista">
        <div class="desc">
            <button>PLAY</button>
            <hr>
            <div class="text">
                El exorcista
            </div>
        </div>
    </div>

    <div class="film">
        <img src="https://static.posters.cz/image/350/posters/black-widow-unfinished-business-i122138.jpg"
             alt="Viuda Negra">
        <div class="desc">
            <button>PLAY</button>
            <hr>
            <div class="text">
                Viuda Negra.
            </div>
        </div>
    </div>

    <div class="film">
        <img src="https://www.dobleclic.com/wp-content/uploads/2010/03/archivos_imagenes_carteles_a_Angelesydemonios-AngelsandDemons-tt0808151-es.jpg"
             alt="Ángeles y Demonios">
        <div class="desc">
            <button>PLAY</button>
            <hr>
            <div class="text">
                Ángeles y demonios
            </div>
        </div>
    </div>

    <div class="film">
        <img src="https://http2.mlstatic.com/D_NQ_NP_945518-MLM49593079579_042022-W.jpg"
             alt="Doctor Strange y el multiverso de la locura">
        <div class="desc">
            <button>PLAY</button>
            <hr>
            <div class="text">
                Doctor Strange y el multiverso de la locura
            </div>
        </div>
    </div>

    <div class="film">
        <img src="https://www.quepelivemoshoy.com/wp-content/uploads/2020/11/poster-el-padrino-726x1024.jpg"
             alt="El padrino"/>
        <div class="desc">
            <button>PLAY</button>
            <hr>
            <div class="text">
                El Padrino
            </div>
        </div>
    </div>

	<div class="film">
		<img src="https://sm.ign.com/ign_es/screenshot/default/matrix_c1cf.jpg" alt="Matrix"/>
		<div class="desc">
			<button>PLAY</button>
			<hr>
			<div class="text">
				Matrix
			</div>
		</div>
	</div>
	<div class="film">
		<img src="https://www.todocuadros.com/imagenes/posters/peliculas/braveheart.jpg" alt="BraveHeart"/>
		<div class="desc">
			<button>PLAY</button>
			<hr>
			<div class="text">
				BraveHeart
			</div>
		</div>
	</div>
	<div class="film">
		<img src="https://www.todocuadros.com/imagenes/posters/peliculas/braveheart.jpg" alt="BraveHeart"/>
		<div class="desc">
			<button>PLAY</button>
			<hr>
			<div class="text">
				BraveHeart
			</div>
		</div>
	</div>
	<div class="film">
		<img src="https://i.pinimg.com/474x/fd/82/c1/fd82c1116eb734b625552241e00e2a20--aliens-movie-les-aliens.jpg"
			 alt="Alien"/>
		<div class="desc">
			<button>PLAY</button>
			<hr>
			<div class="text">
				Alien
			</div>
		</div>
	</div>
	<div class="film">
		<img src="https://efimeralias.files.wordpress.com/2014/11/titanic.jpg" alt="Titanic"/>
		<div class="desc">
			<button>PLAY</button>
			<hr>
			<div class="text">
				Titanic
			</div>

		</div>
	</div>
</div>
</body>

<!--Footer de la web - su css es footerstyle.css -->

<footer>
    <div class="main-content">
        <div class="left box">
            <h2>Nosotros</h2>
            <div class="content">
                <p>Trabajamos para hacerte la vida más fácil. En tan solo 3 clicks podrás encontrar tu película favorita
                    y todas las plataformas donde las puedes encontrar. </p>
                <div class="social">
                    <a target="_blank" href="#"><span class="fab fa-facebook-f"></span></a>
                    <a target="_blank" href="#"><span class="fab fa-twitter"></span></a>
                    <a target="_blank" href="#"><span class="fab fa-instagram"></span></a>
                    <a target="_blank" href="#"><span class="fab fa-youtube"></span></a>
                </div>
            </div>
        </div>

        <div class="center box">
            <h2>Ubicación</h2>
            <div class="content">
                <div class="place">
                    <span class="fas fa-map-marker-alt"></span>
                    <span class="text">Jerez de la Frontera, España</span>
                </div>
                <div class="phone">
                    <span class="fas fa-phone-alt"></span>
                    <span class="text">666999333</span>
                </div>
                <div class="email">
                    <span class="fas fa-envelope"></span>
                    <span class="text">info@keveo.com</span>
                </div>
            </div>
        </div>

        <div class="right box">
            <h2>Contacto</h2>
            <div class="content">
                <form action="#">
                    <div class="email">
                        <div class="text">Email *</div>
                        <input type="email" required>
                    </div>
                    <div class="msg">
                        <div class="text">Mensaje *</div>
                        <textarea rows="2" cols="25" required></textarea>
                    </div>
                    <div class="btn">
                        <button type="submit">Enviar Mensaje</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="bottom">
        <center>
          <span class="credit">Desarrollado por
            <a target="_blank" href="https://github.com/ProyectoKeVeo/KeVeo">Grupo5 - Proyecto KeVeo - EOI</a> | </span>
            <span class="far fa-copyright"></span><span> 2022</span>
        </center>
    </div>

</footer>
</html>