<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>CodePen - Bootstrap Vertical Navigation with expand and collapse</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
    <link rel="stylesheet" href="css/layoutStyle.css">
    <link rel="stylesheet" href="./css/cards.css">
    <link rel="stylesheet" href="./css/carruselStyle.css">
    <link rel="stylesheet" href="./css/estilos.css">
    <link rel="stylesheet" href="./css/listapeliculas.css">
    <link rel="stylesheet" href="./css/footerstyle.css">
    <!--Este Stilo permite añadir Read more en textos-->
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
</head>
<body>
<div class="wrapper">

    <body>
    <!-- partial:index.partial.html -->
    <div class="nav">
        <input type="checkbox" id="nav-check">
        <div class="nav-header">
            <div class="nav-title">
                JoGeek
            </div>
        </div>
        <div class="nav-btn">
            <label for="nav-check">
                <span></span>
                <span></span>
                <span></span>
            </label>
        </div>

        <div class="nav-links">
            <a class="treeview" th:each="menuItem : ${menuList}">
                <a th:href="${menuItem.url}"></span><span th:text="${menuItem.description}"></span></a>
            </a>
        </div>
    </div>

    <div class="content-wrapper">

        <section class="content-header" layout:fragment="breadcrumb"></section>

        <section class="content" layout:fragment="content"></section>

    </div>
 </div>
<footer>
    <div class="main-content">
        <div class="left box">
            <h2>Nosotros</h2>
            <div class="content">
                <p>Trabajamos para hacerte la vida más fácil. En tan solo 3 clicks podrás encontrar tu película favorita
                    y todas las plataformas donde las puedes encontrar. </p>
                <div class="social">
                    <a target="_blank" href="#"><span class="fab fa-facebook-f"></span></a>
                    <a target="_blank" href="#"><span class="fab fa-twitter"></span></a>
                    <a target="_blank" href="#"><span class="fab fa-instagram"></span></a>
                    <a target="_blank" href="#"><span class="fab fa-youtube"></span></a>
                </div>
            </div>
        </div>

        <div class="center box">
            <h2>Ubicación</h2>
            <div class="content">
                <div class="place">
                    <span class="fas fa-map-marker-alt"></span>
                    <span class="text">Jerez de la Frontera, España</span>
                </div>
                <div class="phone">
                    <span class="fas fa-phone-alt"></span>
                    <span class="text">666999333</span>
                </div>
                <div class="email">
                    <span class="fas fa-envelope"></span>
                    <span class="text">info@keveo.com</span>
                </div>
            </div>
        </div>

        <div class="right box">
            <h2>Contacto</h2>
            <div class="content">
                <form action="#">
                    <div class="email">
                        <div class="text">Email *</div>
                        <input type="email" required>
                    </div>
                    <div class="msg">
                        <div class="text">Mensaje *</div>
                        <textarea rows="2" cols="25" required></textarea>
                    </div>
                    <div class="btn">
                        <button type="submit">Enviar Mensaje</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="bottom">
        <center>
          <span class="credit">Desarrollado por
            <a target="_blank" href="https://github.com/ProyectoKeVeo/KeVeo">Grupo5 - Proyecto KeVeo - EOI</a> | </span>
            <span class="far fa-copyright"></span><span> 2022</span>
        </center>
    </div>
</footer>
</body>
</html>
