<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
    <link rel="stylesheet" href="css/layoutStyle.css">
    <link rel="stylesheet" href="./css/carruselStyle.css">
    <link rel="stylesheet" href="./css/estilos.css">
    <link rel="stylesheet" href="./css/listapeliculas.css">
    <link rel="stylesheet" href="./css/footerstyle.css">
    <link rel="stylesheet" href="./css/estilobuscador.css">
    <!--Este Stilo permite añadir Read more en textos-->
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link rel="icon" type="image/x-icon" href="/img/keveofavicon.png">
</head>
<body>
<div class="wrapper">

    <!-- partial:index.partial.html -->
    <div class="nav">
        <input type="checkbox" id="nav-check">
        <div class="nav-header">
            <div class="nav-title">
                KeVeo
            </div>
        </div>
        <div class="nav-btn">
            <label for="nav-check">
                <span></span>
                <span></span>
                <span></span>
            </label>
        </div>

        <div class="nav-links">
            <a class="treeview" th:each="menuItem : ${menuList}">
                <a th:href="${menuItem.url}"></span><span th:text="${menuItem.description}"></span></a>
            </a>
            <a th:if="${#authentication.getPrincipal() == 'anonymousUser'}" class="treeview">
                <a th:href="@{/login}"></span><span>Login</span></a>
            </a>
            <a class="treeview">
                <a th:unless="${#authentication.getPrincipal() == 'anonymousUser'}" th:href="@{/logout}"></span>
                    <span>Logout</span></a>
<!--            <a th:if="${#authentication.getPrincipal() == 'anonymousUser'}" class="treeview" >
                <a th:href="@{/login}"></span><span>Login</span></a>
            </a>
            <a th:unless="${#authentication.getPrincipal() == 'anonymousUser'}" class="treeview" >
                <a href="/logout"></span><span>Logout</span></a> -->	
            </a>
        </div>
    </div>

    <section class="content" layout:fragment="buscador"></section>

    <div class="content-wrapper">

        <section class="content-header" layout:fragment="breadcrumb"></section>

        <section class="content" layout:fragment="content"></section>
    </div>
</div>
<br>
<br>
<footer class="style-footer">
    <div class="main-content">
        <div class="left box">
            <h2>Nosotros</h2>
            <div class="content">
                <p>KeVeo nació en el año 2022 con el fin de satisfacer la necesidad de filtrar los distintos catálogos de películas en distintas plataformas desde una única página web.
                </p>
                <p>Nuestra Aplicación Web está desarrollada con la última tecnología, haciéndola intuitiva y fiable para todos los usuarios. </p>
                <p>El equipo de KeVeo está formado por cinco personas formadas en Programación Web Java, y otros lenguajes de desarrollo como HTML y CSS.</p>
                <p>Si quieres conocer más de nuestro trabajo, ¡no dudes en entrar en nuestras distintas redes sociales!</p>


                <div class="social">
                    <a target="_blank" href="#"><span class="fab fa-facebook-f"></span></a>
                    <a target="_blank" href="#"><span class="fab fa-twitter"></span></a>
                    <a target="_blank" href="#"><span class="fab fa-instagram"></span></a>
                    <a target="_blank" href="#"><span class="fab fa-youtube"></span></a>
                </div>
            </div>
        </div>

        <div class="center box">
            <h2>Ubicación</h2>
            <div class="content">
                <div class="place">
                    <span class="fas fa-map-marker-alt"></span>
                    <span class="text: 22px">Jerez de la Frontera, España</span>
                </div>
                <p></p>
                <div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d51191.28151640702!2d-6.158004822992606!3d36.68760052265827!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd0dc6e84844a39f%3A0x6dac3ef5f3d0ffea!2sJerez%20de%20la%20Frontera%2C%20C%C3%A1diz!5e0!3m2!1ses!2ses!4v1662201193772!5m2!1ses!2ses" width="580" height="213" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>

        <div class="right box">
            <h2>Contacto</h2>
            <div class="content">
                <p>Si necesitas ponerte en contacto con nosotros aquí tienes todos los datos de contacto de KeVeo:</p>
                <div class="phone">
                    <span class="fas fa-phone-alt"></span>
                    <span class="text">666999333</span>
                    <p></p>
                </div>
                <div class="email">
                    <span class="fas fa-envelope"></span>
                    <span class="text">contacto.keveo@gmail.com</span>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <center>
          <span class="credit">Desarrollado por
            <a target="_blank" href="https://github.com/ProyectoKeVeo/KeVeo">Grupo5 - Proyecto KeVeo - EOI</a> | </span>
            <span class="far fa-copyright"></span><span> 2022</span>
        </center>
    </div>
    </div>
</footer>
</body>
</html>
