<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/estilos.css">
	<link rel="stylesheet" href="css/stylecarrusel.css">
	<link rel="stylesheet" href="css/estilobuscador.css">
	<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet"> 
	<title>KeVeo</title>
</head>
<body>
	<header>
		<div class="contenedor">
			<h2 class="logotipo">KeVeo</h2>
			<form class="form-wrapper cf">
				<input type="text" placeholder="Buscar película..." required>
				<button type="submit">Buscar</button>
			</form>
			<nav>
				<a href="#" class="activo">Inicio</a>
				<a href="#">Películas</a>
				<a href="#">Plataformas</a>
				<a href="#">Géneros</a>
				<a href="./login.html">Login</a>

			</nav>
		</div>
	</header>

	<main>
		<div class="pelicula-principal">
			<div class="contenedor">
				<h3 class="titulo">Interestellar</h3>
				<p class="descripcion">
					Narra las aventuras de un grupo de exploradores que hacen uso de un agujero de gusano recientemente descubierto para superar las limitaciones de los viajes espaciales tripulados y vencer las inmensas distancias que tiene un viaje interestelar.
				</p>
				<button role="button" class="boton"><i class="fas fa-play"></i>Reproducir</button>
				<button role="button" class="boton"><i class="fas fa-info-circle"></i>Más información</button>
			</div>
		</div>
	</main>
	
	<script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
	<script src="js/main.js"></script>


	<div class ="container">
		<div class="arrow-left">
			<i class="icon-angle-left"></i>
		</div>
		<div class="item item-1">
			<div class="body-item">
				<div class="body-item-1">
					<div class="play">
						<i class="icon-play"></i>
					</div>
				</div>
				<div class="title body-item-2">Breaking Bad</div>
				<div class="properties body-item-3">
					<img src="https://i.pinimg.com/474x/fd/82/c1/fd82c1116eb734b625552241e00e2a20--aliens-movie-les-aliens.jpg" alt="Alien"/>
					</a>
				</div>
				<p class="description body-item-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius alias libero..</p>
				<div class="body-item-5">
					<i class="details-icon icon-chevron-down"></i>
				</div>
				<div class="icon-set body-item-6">
					<i class="icon-thumbs-up"></i>
					<i class="icon-thumbs-down"></i>
					<i class="icon-plus"></i>
				</div>
			</div>
		</div>

		<div class="item item-2">
			<div class="body-item">
				<div class="body-item-1">
					<div class="play">
						<i class="icon-play"></i>
					</div>
				</div>
				<div class="title body-item-2">Case de Papel</div>
				<div class="properties body-item-3">
					<img src="https://static.posters.cz/image/350/posters/black-widow-unfinished-business-i122138.jpg" alt="Viuda Negra"/>
					</a>
				</div>
				<p class="description body-item-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius alias libero..</p>
				<div class="body-item-5">
					<i class="details-icon icon-chevron-down"></i>
				</div>
				<div class="icon-set body-item-6">
					<i class="icon-thumbs-up"></i>
					<i class="icon-thumbs-down"></i>
					<i class="icon-plus"></i>
				</div>
			</div>
		</div>

		<div class="item item-3">
			<div class="body-item">
				<div class="body-item-1">
					<div class="play">
						<i class="icon-play"></i>
					</div>
				</div>
				<div class="title body-item-2">Black Mirror</div>
				<div class="properties body-item-3">
					<span class="match">% 98 Match</span>
					<span class="year">2012</span>
					<span class="age-limit">13+</span>
					<span class="time">2h 13m</span>
				</div>
				<p class="description body-item-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius alias libero..</p>
				<div class="body-item-5">
					<i class="details-icon icon-chevron-down"></i>
				</div>
				<div class="icon-set body-item-6">
					<i class="icon-thumbs-up"></i>
					<i class="icon-thumbs-down"></i>
					<i class="icon-plus"></i>
				</div>
			</div>
		</div>

		<div class="item item-4">
			<div class="body-item">
				<div class="body-item-1">
					<div class="play">
						<i class="icon-play"></i>
					</div>
				</div>
				<div class="title body-item-2">Bojark Horseman</div>
				<div class="properties body-item-3">
					<img src="https://www.todocuadros.com/imagenes/posters/peliculas/braveheart.jpg" alt="BraveHeart"/>
					</a>
				</div>
				<p class="description body-item-4">A humanoid horse, BoJack Horseman -- lost in a sea of self-loathing and...</p>
				<div class="body-item-5">
					<i class="details-icon icon-chevron-down"></i>
				</div>
				<div class="icon-set body-item-6">
					<i class="icon-thumbs-up"></i>
					<i class="icon-thumbs-down"></i>
					<i class="icon-plus"></i>
				</div>
			</div>
		</div>
		<div class="arrow-right">
			<i class="icon-angle-right"></i>
		</div>
	</div>

</body>
</html>