<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous">
</head>
<body>
<div layout:fragment="breadcrumb">
    <h1>Detalle de Película</h1>
    <br>
    <br>
    <br>
    <br>
</div>

<div layout:fragment="content" th:object="${film}">
    <div class="container">
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/film"><i class="fa fa-tasks"></i> Films</a></li>
        <li class="active" th:utext="@{'nombre: <b>' + ${film.name}} + '</b>'"></li>
        <li class="active" th:utext="@{'year: <b>' + ${film.year}} + '</b>'"></li>
        <li class="active" th:utext="@{'Genero: <b>' + ${film.genres}} + '</b>'"></li>
        <li class="active" th:utext="@{'id: <b>' + ${film.id}} + '</b>'"></li>
        <li class="active" th:utext="@{'rating: <b>' + ${rating.stars}} + '</b>'"></li>
    </ol>
            
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
</div>


<!-- Latest compiled and minified JavaScript -->
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

</body>
</html>