<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sd="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">

</head>
<body>
<div layout:fragment="content">
    <link rel="stylesheet" type="text/css" href="static/css/coverStyle.css" th:href="@{/css/coverStyle.css}">

    <div class="container">
        <span sd:page-size-selector="javascript"></span>
        <br>
        <h1 class="neonText">
            Películas
        </h1>

        <br>

        <div th:each="film: ${listFilms}">
            <div class="film">
                <img th:src="${film.image}" alt="">
                <div class="desc">
                    <a th:href="@{'/film/filmInfo/' + ${film.id}}"><button>INFO</button></a>
                    <hr>
                    <div class="text" th:text="${film.name}">

                    </div>

                    <div class="text" >

                        Plataformas disponibles:




                    </div>
                </div>
            </div>
        </div>

    </div>

    <div th:if="${not #lists.isEmpty(listFilms.content)}">
        <div class="text-center">
            <nav>
                <ul class="pagination" sd:pagination="full">
                    <div th:if="${listFilms.totalPages > 0}" class="pagination"
                         th:each="pageNumber : ${pageNumbers}">
                        <li th:class="${pageNumber==listFilms.number + 1} ? active">
                            <a href="#"
                               th:href="@{/film(size=${listFilms.size}, page=${pageNumber})}"
                               th:text=${pageNumber}></a>
                        </li>
                    </div>
                </ul>
            </nav>
        </div>
    </div>



</div>
<!-- Latest compiled and minified JavaScript -->
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>
