<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sd="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous">

    <link rel="stylesheet" href="#" th:href="@{/css/cards.css}"/>
</head>
<body>
<div layout:fragment="breadcrumb">
    <h1>Películas</h1>
</div>
<br>
<br>
<div layout:fragment="content">
<div class="container">
    <div>
        <a th:href="@{/gestionfilms}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Primary link</a>
    </div>
    <br>


      <div class="row">
        <div class="grid-cards">
            <div class="col-md-4 my-5" style="display: grid" th:each="film : ${films}"
                 th:object="${film}">
                <a th:href="@{/film/{id}(id=*{id})}" class="card shadow-lg"
                   style="text-decoration: none;"> <img th:src="*{image}" width="250" height="300"
                        th:alt="*{name}" class="card-img-top">
                    <div class="card-body">
                        <h2 class="card-title fs-5" th:text="*{name}"></h2>
                        <p th:text="*{year}"
                           class="text-muted small"></p>
                    </div>
                </a>
            </div>
        </div>
        <div th:if="${not #lists.isEmpty(films.content)}">
            <div class="text-center">
                <nav>
                    <ul class="pagination" sd:pagination="full">
                        <div th:if="${films.totalPages > 0}" class="pagination"
                             th:each="pageNumber : ${pageNumbers}">
                            <li th:class="${pageNumber==films.number + 1} ? active">
                                <a href="#" th:href="@{/film(size=${films.size}, page=${pageNumber})}"
                                   th:text=${pageNumber}></a>
                            </li>
                        </div>
                    </ul>
                </nav>
            </div>
    </div>
<!--    <table class="table table-striped table-bordered">-->
<!--        <thead class="table-dark">-->
<!--        <tr>-->
<!--            <th>ID</th>-->
<!--            <th>Nombre</th>-->
<!--            <th>Año</th>-->
<!--            <th>Duración</th>-->
<!--            <th>Géneros</th>-->
<!--            <th></th>-->

<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr th:each="item,iter : ${films}">-->
<!--            <td th:text="${item.id}">ID</td>-->
<!--            <td th:text="${item.name}">ID</td>-->
<!--            <td th:text="${item.year}">ID</td>-->
<!--            <td th:text="${item.duration}">ID</td>-->
<!--            <td th:text="${item.genres}"></td>-->
<!--            <td>-->
<!--                <a href="#" class="btn btn-default" th:href="@{'/film/' + ${item.id}}"-->
<!--                   title="View"><span class="glyphicon glyphicon glyphicon-eye-open"></span></a>-->
<!--                <a href="#" class="btn btn-default" th:href="@{'/film/' + ${item.id} + '/edit'}"-->
<!--                   title="Edit"><span class="glyphicon glyphicon-edit"></span></a>-->

<!--                <a><form th:action="@{'/film/' + ${item.id} + '/delete'}" th:object="${emp2}" method="post">-->
<!--                    <button class="btn btn-danger" type="submit" value="Delete">-->
<!--                        <span class="glyphicon glyphicon-trash"></span>-->
<!--                    </button>-->
<!--                </form></a>-->
<!--            </td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->
<!--</div>-->
    </div>
    </div>
</div>

<!-- Latest compiled and minified JavaScript -->
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>
